<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--titulo sera exibido na janela-->  
    <title> Gusta TI</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS PERSONALIZADO, PRECISA SER DEPOIS DO CSS-->
     <link rel="stylesheet" href="../public/css/style.css" class="css">
</head>
<body>
    <!---->
    <div class="container">
        <h1>Hello EleCtron</h1>
    </div>
    
    <!--BOOTSTRAP-->
    <!--ligar o bootstrap offline caso o cliente nao tenha internet-->
    <script src="../public/js/bootstrap.bundle.min.js"></script> 
</body>
</html>