<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--titulo sera exibido na janela-->  
    <title> Assistência Pionner</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS PERSONALIZADO, PRECISA SER DEPOIS DO CSS-->
     <link rel="stylesheet" href="../public/css/style.css" class="css">
</head>
<body>
    <div class="container button">
        <a href="cadastroform.html"><img src="../public/img/dj_icon.png" alt="clientes" title="Cadastro de clientes"></a>
        <img src="../public/img/mixer_icon.png" alt="computador" title="Emissão de OS">
    </div>
    <footer>
        <p id="dataAtual"></p>
    </footer>

    <!--BOOTSTRAP-->
    <!--ligar o bootstrap offline caso o cliente nao tenha internet-->
    <script src="../public/js/bootstrap.bundle.min.js"></script> 
    <script src="../public/js/script.js"></script>
</body>
</html>