@charset "utf-8";

.button img {
    margin: 50px 15px 25px 15px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}

footer {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #0078d7;
    position: fixed;
    bottom: 0;
}

footer p {
    color: #f5f5fa;
    padding-top: 7px;
}